.top-wrapper div{
    width: 90%;
}
.top-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-heading h1{
    text-align: center;
}

.command-heading h2{
    text-align: center;
}

.cloning-repo h2{
    text-align: center;
}

.making-repo h2{
    text-align: center;
}

div{
    margin-bottom: 100px;
}